.back-bg{
    height: 100px;
    background-color: rgb(20, 128, 20);
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.main-container{
    background-color:white;
    height: 95vh;
    margin-top: 2.5vh;
    position: relative;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}
.username{
    background-color: #EAEAEA;
}
.color-icons{
    color:#b1b1b1 ;
}
.avatar-user{
    width: 50px;
}
.notifications-bar{
    background-color: #8EDAFC;
}
.search-bar{
    background-color: #EAEAEA;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.container-search-icon{
    border: 1px solid sandybrown;
    flex-shrink: 0;
    width: 50px;
    background-color: white;
}
.container-search-text{
    border: 1px solid sandybrown;
    flex-grow:1;
}