.back-bg{
    height: 100px;
    background-color: rgb(20, 128, 20);
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.main-container{
    background-color: rgb(85, 7, 7);
    height: 95vh;
    margin-top: 2.5vh;
    position: relative;
    z-index: 1;
}